@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");

body {
  font-family: "Cormorant", serif;
}

/* =============      HEADER    ========== */

.navbar {
    margin: 32px;
}
.navbar h1 {
    display: inline-block;
    margin: 0 32px 0 0;
}
/* ? sin grid usamos inline-block para que cada elemento este en linea y se alinee con el otro */
.links {
  display: inline-block;
}

.links ul {
    padding: 0;
}
/* ? lo mismo aquí para que cada li se junte */
.links li {
  display: inline-block;
  margin: 0 9px;
}
/* ? recordar que cada <li> es realmente un a, por lo tanto para quitarle el estilo de enlace y darle color este es el target */
.links a {
  color: black;
  text-decoration: none;
}
/* al seleccionar el primer hijo de los li de la seccion .links, no hace falta span */
.links li:nth-child(1) {
    border-bottom: 1px solid black;
}

/* ======== BODY ========== */
/* ? si el div esta a 50% en inline block bajará la imagen abajo, si es ligeramente menor se queda en linea */
/* ? al estar en border-box, cada div .card ocupara el 49.8% aunque haya padding, el padding lo que hara será hacer la imagen más pequeña ergo habrá más espacio entre imagenes */
.card {
  width: 49.8%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
}
/* ? cada imagen tiene el 100% del width de su padre, que es el div .card, que ocupa un 40% segun el body */
.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card img:hover {
  opacity: 0.9;
}

.card h2 {
  display: inline-block;
  margin: 8px 0 16px 0;
  
}
/* ? padding hace todo más pequeño */
.gallery {
  padding: 16px;
}


/* ======= fOOTER ========= */

footer {
  width: 40%;
  min-width: 600px;
  margin: 100px 0 30px 200px;
}

footer h3 {
  font-size: 40px;
}

/* ? para darle un subrayado usamos el border, y para alejarlo y darle espacio le damos padding, utilizando inline-block el width se ajusta donde acaba el elemento y así la linea no tiene un width más largo que el texto */
footer h3:nth-child(2) {
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 8px;
  margin-top: 0;
}

/* ?  */
footer .contact {
  margin-top: 100px;
}

/* ? con el margin 0 quedan pegados los 2 <p> */
footer p {
  margin: 0;
  font-size: 20px;
}